.vs/GameServer/FileContentIndex/5ac34aa4-f744-4301-b526-833f00ecb91c.vsidx
.vs/GameServer/v17/.suo
.vs/GameServer/v17/Browse.VC.db
.vs/GameServer/v17/DocumentLayout.backup.json
.vs/GameServer/v17/DocumentLayout.json
.vs/GameServer/v17/fileList.bin
.vs/GameServer/v17/Solution.VC.db
Compiled/GameServer.exe
GameServer/380ItemOption.obj
GameServer/380ItemType.obj
GameServer/AntiFlood.obj
GameServer/Attack.obj
GameServer/BattleSoccer.obj
GameServer/BlackList.obj
GameServer/BloodCastle.obj
GameServer/BonusManager.obj
GameServer/CannonTower.obj
GameServer/CastleDeep.obj
GameServer/CastleSiege.obj
GameServer/CastleSiegeCrown.obj
GameServer/CastleSiegeCrownSwitch.obj
GameServer/CastleSiegeSync.obj
GameServer/CastleSiegeWeapon.obj
GameServer/ChaosBox.obj
GameServer/ChaosCastle.obj
GameServer/ComboSkill.obj
GameServer/CommandManager.obj
GameServer/Connection.obj
GameServer/ConnectionManager.obj
GameServer/ConnectMember.obj
GameServer/Console.obj
GameServer/CriticalSection.obj
GameServer/Crywolf.obj
GameServer/CrywolfAltar.obj
GameServer/CrywolfObjInfo.obj
GameServer/CrywolfStateTimeInfo.obj
GameServer/CrywolfStatue.obj
GameServer/CrywolfSync.obj
GameServer/CrywolfUtil.obj
GameServer/CustomArena.obj
GameServer/CustomAttack.obj
GameServer/CustomBuyVip.obj
GameServer/CustomComboSkill.obj
GameServer/CustomDailyReward.obj
GameServer/CustomEventDrop.obj
GameServer/CustomGift.obj
GameServer/CustomHealthBar.obj
GameServer/CustomJewel.obj
GameServer/CustomJewelPack.obj
GameServer/CustomLukeHelper.obj
GameServer/CustomMarriage.obj
GameServer/CustomMix.obj
GameServer/CustomMonster.obj
GameServer/CustomMonsterKillCount.obj
GameServer/CustomPick.obj
GameServer/CustomPotion.obj
GameServer/CustomStore.obj
GameServer/CustomWindowTime.obj
GameServer/CustomWing.obj
GameServer/DamageTable.obj
GameServer/DarkSpirit.obj
GameServer/DefaultClassFreebies.obj
GameServer/DefaultClassInfo.obj
GameServer/DevilSquare.obj
GameServer/DropEvent.obj
GameServer/DSProtocol.obj
GameServer/Duel.obj
GameServer/Effect.obj
GameServer/EffectManager.obj
GameServer/EventEntryLevel.obj
GameServer/EventSpawnStage.obj
GameServer/ExcellentOptionRate.obj
GameServer/ExperienceTable.obj
GameServer/Filter.obj
GameServer/Friend.obj
GameServer/Fruit.obj
GameServer/GameMain.obj
GameServer/GameMaster.obj
GameServer/GameServer.exe.recipe
GameServer/GameServer.iobj
GameServer/GameServer.ipdb
GameServer/GameServer.log
GameServer/GameServer.obj
GameServer/GameServer.pch
GameServer/GameServer.res
GameServer/GameServer.tlog/CL.command.1.tlog
GameServer/GameServer.tlog/Cl.items.tlog
GameServer/GameServer.tlog/CL.read.1.tlog
GameServer/GameServer.tlog/CL.write.1.tlog
GameServer/GameServer.tlog/GameServer.lastbuildstate
GameServer/GameServer.tlog/link.command.1.tlog
GameServer/GameServer.tlog/link.read.1.tlog
GameServer/GameServer.tlog/link.secondary.1.tlog
GameServer/GameServer.tlog/link.write.1.tlog
GameServer/GameServer.tlog/rc.command.1.tlog
GameServer/GameServer.tlog/rc.read.1.tlog
GameServer/GameServer.tlog/rc.write.1.tlog
GameServer/GameServer.vcxproj
GameServer/Gate.obj
GameServer/GoldenArcher.obj
GameServer/GuardianStatue.obj
GameServer/Guild.obj
GameServer/GuildManager.obj
GameServer/HackCheck.obj
GameServer/HackMoveSpeedCheck.obj
GameServer/HackPacketCheck.obj
GameServer/HackSkillSpeedCheck.obj
GameServer/IllusionTemple.obj
GameServer/InvasionManager.obj
GameServer/Item.obj
GameServer/ItemBag.obj
GameServer/ItemBagEx.obj
GameServer/ItemBagManager.obj
GameServer/ItemDrop.obj
GameServer/ItemLevel.obj
GameServer/ItemLoot.obj
GameServer/ItemManager.obj
GameServer/ItemMoneyDrop.obj
GameServer/ItemMove.obj
GameServer/ItemOption.obj
GameServer/ItemOptionRate.obj
GameServer/ItemStack.obj
GameServer/ItemValue.obj
GameServer/JewelMix.obj
GameServer/JewelOfHarmonyOption.obj
GameServer/JewelOfHarmonyType.obj
GameServer/JSProtocol.obj
GameServer/Kalima.obj
GameServer/Kanturu.obj
GameServer/KanturuBattleOfMaya.obj
GameServer/KanturuBattleOfNightmare.obj
GameServer/KanturuBattleStanby.obj
GameServer/KanturuBattleUserMng.obj
GameServer/KanturuEntranceNPC.obj
GameServer/KanturuMaya.obj
GameServer/KanturuMonsterMng.obj
GameServer/KanturuObjInfo.obj
GameServer/KanturuStateInfo.obj
GameServer/KanturuTowerOfRefinement.obj
GameServer/KanturuUtil.obj
GameServer/LifeStone.obj
GameServer/Log.obj
GameServer/LuaFunction.obj
GameServer/LuaQueue.obj
GameServer/Map.obj
GameServer/MapItem.obj
GameServer/MapManager.obj
GameServer/MapPath.obj
GameServer/MapRateInfo.obj
GameServer/MapServerManager.obj
GameServer/Math.obj
GameServer/MemoryAllocator.obj
GameServer/MemoryAllocatorInfo.obj
GameServer/Mercenary.obj
GameServer/Message.obj
GameServer/MiniDump.obj
GameServer/Monster.obj
GameServer/MonsterAI.obj
GameServer/MonsterAIAgro.obj
GameServer/MonsterAIAutomata.obj
GameServer/MonsterAIAutomataInfo.obj
GameServer/MonsterAIElement.obj
GameServer/MonsterAIElementInfo.obj
GameServer/MonsterAIGroup.obj
GameServer/MonsterAIGroupMember.obj
GameServer/MonsterAIMovePath.obj
GameServer/MonsterAIMovePathInfo.obj
GameServer/MonsterAIRule.obj
GameServer/MonsterAIRuleInfo.obj
GameServer/MonsterAIState.obj
GameServer/MonsterAIUnit.obj
GameServer/MonsterAIUnitInfo.obj
GameServer/MonsterAIUtil.obj
GameServer/MonsterManager.obj
GameServer/MonsterMove.obj
GameServer/MonsterSchedule.obj
GameServer/MonsterSetBase.obj
GameServer/MonsterSkillElement.obj
GameServer/MonsterSkillElementInfo.obj
GameServer/MonsterSkillElementOption.obj
GameServer/MonsterSkillInfo.obj
GameServer/MonsterSkillManager.obj
GameServer/MonsterSkillUnit.obj
GameServer/MonsterSkillUnitInfo.obj
GameServer/Move.obj
GameServer/MoveSummon.obj
GameServer/Notice.obj
GameServer/NpcTalk.obj
GameServer/ObjectManager.obj
GameServer/PacketManager.obj
GameServer/Party.obj
GameServer/Path.obj
GameServer/PcPoint.obj
GameServer/PeriodicItem.obj
GameServer/PersonalShop.obj
GameServer/PetDamageTable.obj
GameServer/Protocol.obj
GameServer/QueryManager.obj
GameServer/Quest.obj
GameServer/QuestObjective.obj
GameServer/QuestReward.obj
GameServer/Queue.obj
GameServer/QueueTimer.obj
GameServer/RandomManager.obj
GameServer/ReadFile.obj
GameServer/Reconnect.obj
GameServer/ResetLimit.obj
GameServer/ResetTable.obj
GameServer/ScheduleManager.obj
GameServer/Script.obj
GameServer/ScriptLoader.obj
GameServer/SerialCheck.obj
GameServer/ServerDisplayer.obj
GameServer/ServerInfo.obj
GameServer/SetItemOption.obj
GameServer/SetItemType.obj
GameServer/Shop.obj
GameServer/ShopManager.obj
GameServer/Skill.obj
GameServer/SkillDamage.obj
GameServer/SkillEnabler.obj
GameServer/SkillHitBox.obj
GameServer/SkillManager.obj
GameServer/SkillUseArea.obj
GameServer/SocketManager.obj
GameServer/SocketManagerUdp.obj
GameServer/stdafx.obj
GameServer/Tick.obj
GameServer/Trade.obj
GameServer/UnionManager.obj
GameServer/User.obj
GameServer/Util.obj
GameServer/vc143.pdb
GameServer/Viewport.obj
GameServer/Warehouse.obj
GameServer/WingOption.obj
Compiled/GameServer.exe
GameServer/GameServer.vcxproj
/Compiled
*.exe
*.vcxproj
*.ipch
.vs/GameServer/v15/Browse.VC.db
.vs/GameServer/v15/.suo
Compiled/GameServer.exe
GameServer/GameServer.vcxproj
.vs
GameServer/Release
GameServer/GameServer.tlog
GameServer/GameServer.Build.CppClean.log
GameServer/GameServer.tlog/GameServer.write.1u.tlog
Compiled/GameServer.exe
GameServer/vc141.pdb
*.pdb
*.vcxproj
*.tlog
